.green-icon {
    --sds-c-icon-color-foreground: green;
    --sds-c-icon-color-foreground-default: green;
    --sds-c-icon-color-background: rgb(0,0,0,0);
}
.orange-icon {
    --sds-c-icon-color-foreground: rgb(255, 166, 0);
    --sds-c-icon-color-foreground-default: rgb(255, 166, 0);
    --sds-c-icon-color-background: rgb(0,0,0,0);
}

.grey-icon {
    --sds-c-icon-color-foreground: grey;
    --sds-c-icon-color-foreground-default: grey;
    --sds-c-icon-color-background: white;    
}

.SelectedStudent{
    display: none;
}

.high-performance {
    color: green;
    font-weight: bold;
}
.medium-performance {
    color: rgb(255, 166, 0);
    font-weight: bold;
}
.low-performance {
    color: rgb(126, 2, 2);
    font-weight: bold;
}
  .selected {
    border: 3px solid rgb(0, 95, 178);
    border-radius: 5px;
  }
  lightning-button.button {
	--sds-c-button-brand-color-background: #ffee00;
    --sds-c-button-text-color: #0a0a0a;
    --sds-c-button-line-height: none;
}

.match{
    width: 55px;
    height: 45px;
    top: 0px;
    margin-top: 0px;
    right: 0px;
}

.fontsizestudent{
    font-size : 9px;
    padding-right: 0px;
    margin-top: 0px;
    padding-left: 0px;
}

.fontsizestudentName{
    font-size : 10px;
    padding-right: 0px;
    margin-top: 0px;
    padding-left: 0px;
}
.nocarIconSize{
    width: 30px;
    height: 30px;
}

.potential{
    color: white;
    background: orange;
    margin-top: 5px;
    padding-left: 5px;
    display: inline;
    padding-right: 2px;
    font-size : 10px;
}

.potentialMatch{
    width: 55px;
    height: 55px;
}

.slds-card__header{
    padding-left: 0rem;
    margin: 0rem;
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
    padding-right: 0.75rem;
}

.textCardSelected{
    font-size : 8px;
    text-align: left;
    padding-left: 10px;
}
.img{
    height: inherit;
}