.grey {
    background: rgb(238,238,238);
}
.white {
    background: white;
    height: 100%;
    position: relative;
}
.green-icon {
    --sds-c-icon-color-foreground: green;
    --sds-c-icon-color-foreground-default: green;
    --sds-c-icon-color-background: rgb(0,0,0,0);
}

.fontsizestudent{
    font-size : 10px;
    padding-right: 0px;
    margin-top: 0px;
    padding-left: 0px;
}

.grey-icon {
    --sds-c-icon-color-foreground: grey;
    --sds-c-icon-color-foreground-default: grey;
    --sds-c-icon-color-background: white;
}

.blue-icon {
    --sds-c-icon-color-foreground: rgb(6,99,180);
    --sds-c-icon-color-foreground-default: rgb(6,99,180);
    --sds-c-icon-color-background: rgb(0,0,0,0);
}
.paginator{
    position: absolute;
    bottom: 0;
    width: 100%
}
.content {
    height: calc(80% - 160px); 
}

.searchBarWidth{
    width: inherit;
}

.royalBlue {
    color: royalblue;
    cursor: pointer;
}
.cursor {
    cursor: pointer;
}